/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
RESET STYLESHEET
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */
/* NAV BAR */

* {
  text-decoration: none;
}

body {
  background-color: #E6D8F4;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2015/07/14/background-color-black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

header {
  background-color: #3EC0FF;
  width: 100%;
  height: 100px;
  text-decoration: none;

}
header .header-brand {
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}


header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;

}
header nav ul li {
  display: inline-block;
  float:left;
  list-style: none;
  padding: 0 16px;
}
header nav ul li a {
font-family:arial;
display: block;
color: #111;
font-size: 16px;
font-weight: 500;
}

header .header-case {
display: none;
}

@media only screen and (min-width: 1000px) {
   header .header-brand {
     margin: 31px 0px;
     text-align: left;
     padding: 0px 20px 0px 40px;
     border-right: 3px solid #111;
     float: left;
     line-height:50px;

   }
   header nav ul {

     margin: 20px 0px 0px 20px;
     float: left;

   }

   header nav ul li a {


   line-height: 60px;
   text-decoration:none;
   }

   header .header-case {
   display: block;
   font-family:arial;
   display: block;
   color: #111;
   font-size: 14px;
   font-weight: 500;
   line-height: 40px;
   border : 1px solid #111;
   float: right;
   margin-right: 40px;
   margin-top: 30px;
   padding: 0px 20px;
   }







 }

/* index-banner*/

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  background-repeat: no-repeat;

}

.vertical-center {
  display: table-cell;
  vertical-align: middle;

}
.index-banner h2 {
  font-family: font-family: 'Righteous', cursive;
  color: #fff;
  font-weight: 2000;
  line-height: 90px ;
  font-size: 50px;
  text-align: left;
  text-shadow: 8px 8px 8px #111;
  display: block;
  padding: 20px 20px 10px ;

}

.index-banner h1 {
  font-family: font-family: 'Righteous', cursive;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
  text-align: left;
  text-shadow: 8px 6px 8px #111;
  display: block;
  padding: 20px 20px 10px ;

}


.index-boxlink-1 {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 200px;
  background-color:  #00cccc;
  color: #fff;


}
.index-boxlink-2 {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 200px;
  background-color: #ff8000;
  color: #fff;

}
.index-boxlink-3 {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 300px;
  background-color: #cc0099;
  color: #fff;

}
.index-boxlink-4 {
  margin: 20px 20px 0;
  width: calc(100% - 40px);
  height: 300px;
  background-color: #e6e600;
  color: #fff;

}

.index-links div h3 {
  font-family: font-family: 'Righteous', cursive;
  color: #111;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.index-links div h4 {
  font-family: font-family: 'Righteous', cursive;
  color: #111;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

}
.index-boxlink-4 a {
  font-family: font-family: 'Righteous', cursive;
  color: #111;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 140px;


}
.form-block-1 {
  display: block;
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  .index-banner {
    width: 100%;
    height: 500px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    margin-top: 0;
    text-align: center;
  }
  .index-links div {
    margin: 100px 10px 0;
    height: 300px;
    float: left;

  }
  .index-banner h2 {
    font-family: font-family: 'Righteous', cursive;
    color: #fff;
    font-weight: 2000;
    line-height: 90px ;
    font-size: 50px;
    text-align: center;
    text-shadow: 8px 8px 8px #111;
    display: block;
    padding: 20px 20px 10px ;

  }
  .index-banner h1 {
    font-family: font-family: 'Righteous', cursive;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-shadow: 8px 6px 8px #111;
    display: block;
    padding: 20px 20px 10px ;

}
  .index-boxlink-1 {
   width: calc(40% - 20px) !important;
   background-color:  #00cccc;


  }
  .index-boxlink-2 {
    width: calc(60% - 20px) !important;
    background-color: #ff8000;


  }
  .index-boxlink-3 {
    width: calc(60% - 20px) !important;
    background-color: #cc0099;

  }
  .index-boxlink-4 {
    width: calc(40% - 20px) !important;
    background-color: #e6e600;

  }
  .index-boxlink-4 a {
    font-family: font-family: 'Righteous', cursive;
    color: #111;
    font-weight: 600;
    font-size: 28px;
    font-style: normal;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 150px;

  }



}



    .form-block-1 {
      display: none;
    }
/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% - 80px);
  padding: 20px 20px;
  margin: 20px;
  background-color: black;
  overflow: hidden;
}

.footer-sm {
  display: flex;
  justify-content: center;
  align-items: center;

  gap:1.5rem;
}
.footer-sm img {

  margin-bottom: 10px;
  float: right;
  width: 40px;
  height: 40px;

}
.footer-sm a {

  margin-bottom: 10px;
  float: right;

}
.form {
  color:white;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: black;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: black;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
